# optional features (pip install "xroms[all]" installs the pip-installable ones)
cmocean
gsw>=3.6
matplotlib
netCDF4
pooch>=1.6
pyproj>=3.4
# xesmf needs esmpy, most easily installed from conda-forge
xesmf>=0.8
