cartopy >= 0.18
cf_xarray
cmocean
dask
datashader >= 0.11

# xESMF requires mpi support
esmf=8.0.1=mpi_openmpi_ha78a60a_0
esmpy=8.0.1=mpi_openmpi_py38h51f2404_0
geoviews
holoviews
hvplot
jupyter
jupyterlab
matplotlib
netcdf4
numba >= 0.49
numpy
proj >= 4.9.0
xarray
xgcm
zarr
# installing xESMF directly from github
# git+git://github.com/pangeo-data/xESMF.git#egg=xESMF
#git+http://github.com/pangeo-data/xESMF.git#egg=xESMF
#git+https://github.com/pangeo-data/xESMF.git#egg=xESMF
